albumentations==2.0.8
beautifulsoup4==4.14.3
clip==0.2.0
comet_ml==3.57.1
coremltools==9.0
csscompressor==0.9.5
dvclive==3.49.0
Flask==3.1.3
flask_cors==5.0.1
flatbuffers==23.5.26
hub_sdk==0.0.24
ipython==8.12.3
jsmin==3.0.1
lap==0.5.13
lvis==0.5.3
matplotlib==3.7.3
mct_quantizers==1.7.0
minify_html==0.18.1
MNN==3.4.1
mobileclip==0.0.1
model_compression_toolkit==2.6.0
mss==10.1.0
mysql_connector_repackaged==0.3.1
ncnn==1.0.20260114
nncf==3.0.0
numpy==1.23.5
onnx==1.20.1
onnx2tf==2.3.3
onnxruntime==1.24.2
onnxslim==0.1.87
opencv_python==4.7.0.72
opencv_python_headless==4.8.0.74
openvino==2026.0.0
paddle==1.2.12
pafy==0.5.5
pandas==3.0.1
Pillow==12.1.1
pillow_heif==1.3.0
psutil==5.9.5
py_cpuinfo==9.0.0
pycocotools==2.0.11
PyMySQL==1.1.0
pytest==9.0.2
pytubefix==10.3.8
PyYAML==6.0.1
PyYAML==6.0.3
ray==2.54.0
Requests==2.32.5
roboflow==1.1.18
sahi==0.11.15
scipy==1.17.1
seaborn==0.13.2
sentry_sdk==2.54.0
Shapely==2.1.2
sony_custom_layers==0.3.0
streamlit==1.22.0
super_gradients==3.7.1
tensorflow==2.12.0
tensorflow_intel==2.12.0
tensorflowjs==4.22.0
tensorrt==10.15.1.29
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
torch==2.1.2
torchvision==0.16.2
tqdm==4.67.1
transformers==4.43.3
tritonclient==2.66.0
ultralytics_thop==2.0.0
wandb==0.25.0
x2paddle==1.6.0
yt_dlp==2026.3.3
